.tittle{
    background-image: url("saraTrucoFiles/pastel-wallpaper-.jpg");
    background-size: cover;
    margin:15px;
    height: 150px;
    padding: 20px;
    box-shadow: 0 0 10px black ;
}
/*invisible menu*/
.hide{
    display:none;
    position: absolute;
}
.show{
    display:inline-block;
    top: 10%;
    left: 5%;
    right:5%;
    position: fixed;
    background-color: tomato;
}
.show > img{
    padding-top:4em ;
}
.skills{
    display:flex;
    justify-content: center;
    margin:2em 2em;
}
.skills>div>img, .description{
box-shadow: 0 0 8px 8px gray;
}

.description{
    display: flex;
    margin: auto;
    justify-content: center;
    height: 400px;
    width: 1090px;
    background-color: rgb(253, 181, 217);
}
.description > div{
    text-align: center;
    padding :20px;
    margin: 15px;
    height: 300px;
    width: 100%;
}
.description > div >img, .description{
border-style: groove;
border-radius: 8px;
}
.cuteButton{
    padding: 2em;
    display: flex;
    margin: auto;
    justify-content: center;

}
html{
    background-image:url("saraTrucoFiles/wallppr.jpg");
    background-size: cover;
    font-family: Cursive, Helvetica, sans-serif;
    color:rgb(56, 34, 82);
}
.description>div>img:hover,.show>a{
    cursor:pointer;
}
